name: Continuous Integration

on: push

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: technote-space/auto-cancel-redundant-job@v1.7.5
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3.2.0
      with:
        node-version: 'lts/*'
    - name: Setup Cache
      uses: actions/cache@v3.0.2
      with:
        path: .yarn
        key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
    - name: Install dependencies
      run: yarn install --immutable
      env:
        YARN_CHECKSUM_BEHAVIOR: update

###############################################################################
# COMMITLINT                                                                  #
###############################################################################
  commitlint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Commit Lint
      uses: wagoid/commitlint-github-action@v4.1.12
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

###############################################################################
# ESLINT                                                                      #
###############################################################################
  eslint:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3.2.0
      with:
        node-version: 'lts/*'
    - name: Setup Cache
      uses: actions/cache@v3.0.2
      with:
        path: .yarn
        key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
    - name: Install dependencies
      run: yarn install --immutable --immutable-cache
    - name: ESLint
      run: yarn run eslint

###############################################################################
# TEST                                                                        #
###############################################################################
  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Node.js
      uses: actions/setup-node@v3.2.0
      with:
        node-version: 'lts/*'
    - name: Setup Cache
      uses: actions/cache@v3.0.2
      with:
        path: .yarn
        key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
    - name: Install dependencies
      run: yarn install --immutable --immutable-cache
    - name: Test
      run: yarn run test

###############################################################################
# RELEASE                                                                     #
###############################################################################
  release:
    needs: [test, eslint, commitlint]
    runs-on: ubuntu-latest
    steps:
    - name: Get branch
      uses: rlespinasse/github-slug-action@4.2.4
    - name: Checkout
      uses: actions/checkout@v3
      if: ${{ env.GITHUB_REF_SLUG == 'master' }}
    - name: Setup Node.js
      uses: actions/setup-node@v3.2.0
      if: ${{ env.GITHUB_REF_SLUG == 'master' }}
      with:
        node-version: 'lts/*'
    - name: Setup Cache
      uses: actions/cache@v3.0.2
      if: ${{ env.GITHUB_REF_SLUG == 'master' }}
      with:
        path: .yarn
        key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
    - name: Install dependencies
      run: yarn install --immutable --immutable-cache
      if: ${{ env.GITHUB_REF_SLUG == 'master' }}
    - name: Benchmark
      run: yarn run benchmark
      if: ${{ env.GITHUB_REF_SLUG == 'master' }}
    - name: Release
      uses: ridedott/release-me-action@v3.7.0
      if: ${{ env.GITHUB_REF_SLUG == 'master' }}
      with:
        node-module: true
        commit-assets: |
          ./BENCHMARK.md
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
